/* on small viewports make profile image small */
@media (max-width: 768px) {
    .profile-img {
      width: 50vw;
    }
  }
  
  .main-content {
    margin-bottom: 70px; /* Adjust this to match your navbar height */
  }
  
  .social-media-icons {
    display: flex;
  }
  
  .link-icon {
    display: inline-block;
    color: #000000;
    padding: 5px;
  }
  
.custom-icon-size {
  font-size: 1.5em; /* Or any other size between 1em (default) and 2em (fa-2x equivalent) */
}

.shadow-card {
  background-color: #fff;
  border-radius: 12px;
  padding: 30px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
  transition: box-shadow 0.3s ease;
}

.shadow-card:hover {
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.2);
}


.full-height {
  display: flex;
  flex-direction: column;
  height: 100%;
}

html, body {
  overflow-x: hidden;
  overflow-y: auto;
  height: auto;
}