<!--layout.html-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta name="description" content="Tainã Coleman">

    <title>Tainã Coleman</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <script>
        MathJax = {
          loader: {load: ['[tex]/textmacros']},
          tex: {
            inlineMath: [['$', '$'], ['\\(', '\\)']]
          }
        };
    </script>
    <script type="text/javascript" id="MathJax-script" async
        src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
    </script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="#" id="navbarBrand" onclick="scrollToTop(event)">Tainã Coleman</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#publications">Publications</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#projects">Projects</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    
    <div class="main-content">
        <div class="container">
            <div class="row mt-2">
                <div class="col-md-4 text-center">
                    <img src="{{ url_for('static', filename='img/profile.png') }}" alt="Profile Picture" class="img-fluid profile-img">
                </div>
                <div class="col-md-8 mt-2">
                    <h1>Tainã Coleman</h1>
                    <p>
                        Schmidt AI in Science Postdoctoral Fellow, San Diego Supercomputer Center
                        <a href="https://www.sdsc.edu/" target="_blank" title="Open in new tab">
                            <i class="fas fa-external-link-alt"></i>
                        </a>
                        <br/>
                        Ph.D., University of Southern California<br />
                        M.S., California State University, Long Beach<br />
                        B.S., Universidade Federal de Itajubá
                    </p>
                    <h2>Research Interests</h2>
                    <p>
                        My research interests are in Scientific Workflows.
                        In particular, my goal is to develop a better understanding of how workflow structure affects execution in high-performance computing environments.
                        To this end, I develop algorithms, benchmarks, and data-driven approaches for extracting and exploiting structure in scientific workflows.
                    </p>
                </div>
            </div>
                
            <div class="row mt-4" id="publications">
                <div class="col">
                    <h1>Publications</h1>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="accordion-flush" id="pub-accordion">
                        {% for pub in publications %}
                            <div class="accordion-item">
                                <div class="accordion-header">
                                    <button class="accordion-button collapsed" 
                                            type="button"
                                            id="heading-{{ loop.index }}"  
                                            data-bs-toggle="collapse" 
                                            data-bs-target="#collapse-{{ loop.index }}" 
                                            aria-expanded="true" 
                                            aria-controls="collapse-{{ loop.index }}">
                                        <div class="row">
                                            <div class="col">
                                                
                                                <b>{{ pub.title }}</b>
                                                <br />
                                                {{ pub.venue }}
                                                <br />
                                                <em>
                                                    {% for author in pub.authors %}
                                                        {{ author }}{% if not loop.last %}, {% endif %}
                                                    {% endfor %}
                                                </em>
                                            </div>
                                        </div>
                                    </button>
                                </div>
    
                                <div id="collapse-{{ loop.index }}" class="accordion-collapse collapse" aria-labelledby="heading-{{ loop.index }}" data-parent="#pub-accordion">
                                    <div class="accordion-body">
                                        <div class="row">
                                            <div class="col-md-10">
                                                <h4>{{ pub.title }}</h4>
                                                <h6 class="text-muted"><em>{{ pub.venue }}</em></h6>
                                                <h5>Abstract</h5>
                                                <p>{{ pub.abstract | safe }}</p>
                                            </div>
                                            <div class="col-md-2">
                                                <!-- <h4>Links</h4> -->
                                                {% if pub.links.pdf %}
                                                    <a href="{{ pub.links.pdf }}" target="_blank" class="nav-link link-icon">
                                                        <i class="fa-solid fa-lg fa-file-pdf"></i>
                                                    </a>
                                                {% endif %}
                                                {% if pub.links.github %}
                                                    <a href="{{ pub.links.github }}" target="_blank" class="nav-link link-icon">
                                                        <i class="fab fa-lg fa-github"></i>
                                                    </a>
                                                {% endif %}
                                                {% if pub.links.youtube %}
                                                    <a href="{{ pub.links.youtube }}" target="_blank" class="nav-link link-icon">
                                                        <i class="fab fa-lg fa-youtube"></i>
                                                    </a>
                                                {% endif %}
                                                {% if pub.links.linkedin %}
                                                    <a href="{{ pub.links.linkedin }}" target="_blank" class="nav-link link-icon">
                                                        <i class="fab fa-lg fa-linkedin"></i>
                                                    </a>
                                                {% endif %}
                                                <h4 class="mt-2">Authors</h4>
                                                {% for author in pub.authors %}
                                                    <!-- if author in websites -->
                                                    {% if author in websites %}
                                                        <a href="{{ websites[author] }}" target="_blank">{{ author }}</a>
                                                    {% else %}
                                                        {{ author }}
                                                    {% endif %}
                                                    <br />
                                                {% endfor %}
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        
            <div class="row mt-4" id="projects">
                <div class="col">
                    <h1>Projects</h1>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <ul class="list-group-flush ps-0 ms-0" id="pub-list">
                        <li class="list-group-item">
                            {% include "projects/wfcommons.html" %}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
    <footer class="footer navbar fixed-bottom navbar-expand navbar-light bg-light">
        <div class="container-fluid">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="https://tainacoleman.com/resume.pdf">CV</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="mailto:tainacoleman@gmail.com">Contact</a>
                </li>
            </ul>
            <div class="d-flex">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a href="https://github.com/tainagdcoleman" class="nav-link"><i class="fab fa-github custom-icon-size"></i></a>
                    </li>
                    <li class="nav-item">
                        <a href="https://linkedin.com/in/tainacoleman" class="nav-link"><i class="fab fa-linkedin-in custom-icon-size"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
    
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script>
        document.querySelectorAll('a[href^="#"]').forEach(anchor => {
            anchor.addEventListener('click', function(e) {
                e.preventDefault();

                // Get the target element
                const target = document.querySelector(this.getAttribute('href'));
                
                // Calculate the top offset of the target element
                const targetPosition = target.getBoundingClientRect().top;
                // Adjust for the navbar height and any additional spacing you want
                // Replace 'navbarHeight' with the actual height of your navbar
                const navbarHeight = document.querySelector('.sticky-top').offsetHeight;
                const offsetPosition = targetPosition + window.pageYOffset - navbarHeight;

                // Scroll to the target element with the offset
                window.scrollTo({
                    top: offsetPosition,
                    behavior: 'smooth'
                });
            });
        });
        
        function scrollToTop(event) {
            event.preventDefault(); // Prevent the default anchor behavior
            window.scrollTo({
                top: 0,
                behavior: 'smooth' // Smooth scroll
            });
        }
    </script>
</body>
</html>
