<!--publications.html-->
{% extends "layout.html" %}

{% block content %}
    <!-- bootstrap container -->
    <div class="container">
        <div class="row mt-2">
            <div class="col text-center">
                <h1>Publications</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="accordion" id="pub-accordion">
                    {% for pub in publications %}
                        <div class="accordion-item">
                            <div class="accordion-header">
                                <button class="accordion-button collapsed" 
                                        type="button"
                                        id="heading-{{ loop.index }}"  
                                        data-bs-toggle="collapse" 
                                        data-bs-target="#collapse-{{ loop.index }}" 
                                        aria-expanded="true" 
                                        aria-controls="collapse-{{ loop.index }}">
                                    <div class="row">
                                        <div class="col">
                                            
                                            <b>{{ pub.title }}</b>
                                            <br />
                                            {{ pub.venue }}
                                            <br />
                                            <em>
                                                {% for author in pub.authors %}
                                                    {{ author }}{% if not loop.last %}, {% endif %}
                                                {% endfor %}
                                            </em>
                                        </div>
                                    </div>
                                </button>
                            </div>

                            <div id="collapse-{{ loop.index }}" class="accordion-collapse collapse" aria-labelledby="heading-{{ loop.index }}" data-parent="#pub-accordion">
                                <div class="accordion-body">
                                    <div class="row">
                                        <div class="col-md-10">
                                            <h4>{{ pub.title }}</h4>
                                            <h6 class="text-muted"><em>{{ pub.venue }}</em></h6>
                                            <h5>Abstract</h5>
                                            <p>{{ pub.abstract | safe }}</p>
                                        </div>
                                        <div class="col-md-2">
                                            <!-- <h4>Links</h4> -->
                                            {% if pub.links.pdf %}
                                                <a href="{{ pub.links.pdf }}" target="_blank" class="nav-link link-icon">
                                                    <i class="fa-solid fa-lg fa-file-pdf"></i>
                                                </a>
                                            {% endif %}
                                            {% if pub.links.github %}
                                                <a href="{{ pub.links.github }}" target="_blank" class="nav-link link-icon">
                                                    <i class="fab fa-lg fa-github"></i>
                                                </a>
                                            {% endif %}
                                            {% if pub.links.youtube %}
                                                <a href="{{ pub.links.youtube }}" target="_blank" class="nav-link link-icon">
                                                    <i class="fab fa-lg fa-youtube"></i>
                                                </a>
                                            {% endif %}
                                            {% if pub.links.linkedin %}
                                                <a href="{{ pub.links.linkedin }}" target="_blank" class="nav-link link-icon">
                                                    <i class="fab fa-lg fa-linkedin"></i>
                                                </a>
                                            {% endif %}
                                            <h4 class="mt-2">Authors</h4>
                                            {% for author in pub.authors %}
                                                <!-- if author in websites -->
                                                {% if author in websites %}
                                                    <a href="{{ websites[author] }}" target="_blank">{{ author }}</a>
                                                {% else %}
                                                    {{ author }}
                                                {% endif %}
                                                <br />
                                            {% endfor %}
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}